#wrapper > main > section > #table > #table-header {
    width: 100%;
    min-height: 50px;
    background-color: var(--main-color);
    display: flex;
}

#wrapper > main > section > #table > #table-header > span {
    height: 100%;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    padding: 0 5px;
    color: #fff;
}

#wrapper > main > section > #table > #table-header > .descricao {
    width: 100%;
    justify-content: flex-start;
}