#wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

#wrapper > main {
    height: calc(100% - 60px);
    width: calc(100% - 250px);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 50px;
}

#wrapper > main > header {
    width: 100%;
    padding: 0 10px;
    border-radius: 0 0 10px 10px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #3A415C, #535A71);
    box-shadow: 2px 2px 3px #464646, 2px 2px 3px #666666;
}

#wrapper > main > header > span > button {
    height: 30px;
    padding: 2px 15px;
    background-color: transparent;
    border: none;
    font-size: 1.1rem;
    color: #fff;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#wrapper > main > header > h2 {
    color: #fff;
    letter-spacing: 1px;
}

#wrapper > main > header > span {
    display: flex;
}

#wrapper > main > header > span > button:first-child > ion-icon {
    margin-right: 10px;
    font-size: 1.5rem;
}