#login-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/images/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

#login-wrapper > #login-container {
    height: 600px;
    width: 400px;
    display: flex;
    padding: 10px;
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    border: 1px solid rgba(255,255,255,0.18);
    border-radius: 32px;
    flex-direction: column;
}

#login-wrapper > #login-container > h2 {
    margin: 0 auto;
    color: #fff;
}

#login-wrapper > #login-container > section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-flow: column;
}

#login-wrapper > #login-container > section > .form-group {
    position: relative;
    margin: 12px 0;
    display: flex;
    width: 80%;
}

#login-wrapper > #login-container > section > .form-group input {
    padding: 8px 10px;
    font-size: 18px;
    border-radius: 5px;
    border: #acacac solid 2px;
    background-color: transparent;
    color: #CBB26A;
    transition: 0.15s all ease;
    width: 100%;
}

#login-wrapper > #login-container > section > .form-group input:focus {
    border-color: #eee;
}

#login-wrapper > #login-container > section > .form-group input::placeholder {
    color: transparent;
}

#login-wrapper > #login-container > section > .form-group .form-label {
    position: absolute;
    top: 9px;
    left: 0;
    font-size: 18px;
    padding: 0 10px;
    color: #acacac;
    pointer-events: none;
    transition: 0.15s all ease;
}

#login-wrapper > #login-container > section > .form-group input:focus + .form-label,
#login-wrapper > #login-container > section > .form-group input:not(:placeholder-shown) + .form-label {
    transform: translate(5px, -30px);
    background: transparent;
    color: #CBB26A;

}

#login-wrapper > #login-container > #login-btn {
    margin: 10px auto;
    display: flex;
    background-color: #CBB26A;
    border: none;
    font-size: 1.1rem;
    letter-spacing: 1px;
    color: #fff;
    border-radius: 10px;
    width: 200px;
    padding: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
}

#login-wrapper > #login-container > #signin-btn,
#login-wrapper > #login-container > #forgot-pwd-btn {
    margin: 2px auto;
    display: flex;
    background-color: transparent;
    border: none;
    color: #fff;
    letter-spacing: 1px;
}

#login-wrapper > #login-container > #forgot-pwd-btn:hover,
#login-wrapper > #login-container > #signin-btn:hover {
    color: #CBB26A;
}